In [1]:
import requests
import pandas as pd
import json

In [2]:
API_KEY = '3bc9b1c2c07e4f4dad648c37e3039f3a'
city = 'Campo Grande'
url = f'http://api.openweathermap.org/data/2.5/weather?q={city}&APPID={API_KEY}'

In [3]:
response = requests.get(url).json()

In [4]:
current_temperature = response.get('main', {}).get('temp')
current_temperature_celsius = round(current_temperature - 273.15, 2)

min_temperature = response.get('main', {}).get('temp_min')
min_temperature_celsius = round(min_temperature - 273.15, 2)

max_temperature = response.get('main', {}).get('temp_max')
max_temperature_celsius = round(max_temperature - 273.15, 2)

humidity = response.get('main', {}).get('humidity')

weather = response.get('weather', {})

In [5]:
dados = {
    'cidade': city.title(),
    'temperatura': current_temperature_celsius,
    'minima': min_temperature_celsius,
    'maxima': max_temperature_celsius,
    'umidade do ar': humidity,
    'clima': weather
}

dados_json = json.dumps(dados)
print(dados_json)

{"cidade": "Campo Grande", "temperatura": 30.0, "minima": 30.0, "maxima": 30.0, "umidade do ar": 42, "clima": [{"id": 801, "main": "Clouds", "description": "few clouds", "icon": "02d"}]}

In [6]:
df = pd.DataFrame(weather)

In [7]:
new_dict = pd.DataFrame.to_dict(df)

In [8]:
print(new_dict)

{'id': {0: 801}, 'main': {0: 'Clouds'}, 'description': {0: 'few clouds'}, 'icon': {0: '02d'}}

In [9]:
clima = json.dumps(new_dict['main'])
clima = clima[6:len(clima)-1]

In [10]:
print(type(clima))

<class 'str'>

In [11]:
descricao = json.dumps(new_dict['description'])
descricao = descricao[6:len(descricao)-1]

In [12]:
print(descricao)

"few clouds"

In [13]:
dados = {
    'cidade': city.title(),
    'temperatura': current_temperature_celsius,
    'minima': min_temperature_celsius,
    'maxima': max_temperature_celsius,
    'umidade do ar': humidity,
    'clima': clima,
    'descricao': descricao
    
}

dados_json = json.dumps(dados)
print(dados_json)

{"cidade": "Campo Grande", "temperatura": 30.0, "minima": 30.0, "maxima": 30.0, "umidade do ar": 42, "clima": "\"Clouds\"", "descricao": "\"few clouds\""}

In [14]:
import random

names = ['Dourados', 'Três Lagoas', 'Corumbá', 'Ponta Porã', 'Sidrolândia', 'Naviraí', 'Nova Andradina',
             'Aquidauana', 'Maracaju', 'Paranaíba', 'Amambai', 'Rio Brilhante', 'Coxim', 'Caarapó', 'Miranda',
             'São Gabriel do Oeste', 'Jardim', 'Aparecida do Taboado', 'Chapadão do Sul', 'Anastácio', 'Itaporã',
             'Ribas do Rio Pardo', 'Bela Vista', 'Ladário', 'Bataguassu', 'Ivinhema', 'Nova Alvorada do Sul', 'Terenos',
             'Bonito', 'Cassilândia', 'Itaquiraí', 'Costa Rica', 'Rio Verde de Mato Grosso', 'Sonora', 'Fátima do Sul',
             'Mundo Novo', 'Porto Murtinho', 'Iguatemi', 'Água Clara', 'Coronel Sapucaia', 'Paranhos', 'Nioaque',
             'Camapuã', 'Deodápolis', 'Eldorado', 'Aral Moreira', 'Brasilândia', 'Tacuru', 'Dois Irmãos do Buriti',
             'Batayporã', 'Angélica', 'Sete Quedas', 'Glória de Dourados', 'Guia Lopes da Laguna', 'Japorã',
             'Anaurilândia', 'Antônio João', 'Santa Rita do Pardo', 'Bodoquena', 'Pedro Gomes', 'Inocência',
             'Laguna Carapã', 'Bandeirantes', 'Jaraguari', 'Juti', 'Selvíria', 'Caracol', 'Vicentina', 'Corguinho',
             'Douradina', 'Paraíso das Águas', 'Alcinópolis', 'Rochedo', 'Rio Negro', 'Jateí', 'Novo Horizonte do Sul',
             'Taquarussu', 'Figueirão']

cidades = random.sample(names, 5)

In [15]:
x = 0
output_list = []
while x < 5:
    city = cidades[x]
    url2 = f'http://api.openweathermap.org/data/2.5/weather?q={city}&APPID={API_KEY}'
    response = requests.get(url2).json()
    
    if response.get('cod') != 200:
        with open('cidades_com_erro.txt', 'a') as f:
            f.write('{}, '.format(cidades[x]))   
    
    else:
        with open('cidades_corretas.txt', 'a') as f:
            f.write('{}, '.format(cidades[x])) 

    x = x+1

In [16]:
print(cidades)

['Angélica', 'Iguatemi', 'Ribas do Rio Pardo', 'Juti', 'Dourados']

In [ ]:
read_file = open('cidades_com_erro.txt')
read_file_2 = open('cidades_corretas.txt')

In [ ]:
data1 = pd.read_csv('cidades_com_erro.txt', sep=",", header=None)
data2 = pd.read_csv('cidades_corretas.txt', sep=",", header=None)

In [ ]:
data1 = data1.T
data2 = data2.T

In [ ]:
data1.columns = ['cidades']
data2.columns = ['cidades']

In [ ]:
data1.head()

In [ ]:
data2.head()

In [ ]:
data1['cidades'].unique()

In [ ]:
data1['cidades'].nunique()

In [ ]:
data2['cidades'].nunique()

In [ ]:
count_ = data1['cidades'].nunique() + data2['cidades'].nunique()

In [ ]:
print(count_)

In [ ]:
import random

count = 0

names = ['Dourados', 'Três Lagoas', 'Corumbá', 'Ponta Porã', 'Sidrolândia', 'Naviraí', 'Nova Andradina',
             'Aquidauana', 'Maracaju', 'Paranaíba', 'Amambai', 'Rio Brilhante', 'Coxim', 'Caarapó', 'Miranda',
             'São Gabriel do Oeste', 'Jardim', 'Aparecida do Taboado', 'Chapadão do Sul', 'Anastácio', 'Itaporã',
             'Ribas do Rio Pardo', 'Bela Vista', 'Ladário', 'Bataguassu', 'Ivinhema', 'Nova Alvorada do Sul', 'Terenos',
             'Bonito', 'Cassilândia', 'Itaquiraí', 'Costa Rica', 'Rio Verde de Mato Grosso', 'Sonora', 'Fátima do Sul',
             'Mundo Novo', 'Porto Murtinho', 'Iguatemi', 'Água Clara', 'Coronel Sapucaia', 'Paranhos', 'Nioaque',
             'Camapuã', 'Deodápolis', 'Eldorado', 'Aral Moreira', 'Brasilândia', 'Tacuru', 'Dois Irmãos do Buriti',
             'Batayporã', 'Angélica', 'Sete Quedas', 'Glória de Dourados', 'Guia Lopes da Laguna', 'Japorã',
             'Anaurilândia', 'Antônio João', 'Santa Rita do Pardo', 'Bodoquena', 'Pedro Gomes', 'Inocência',
             'Laguna Carapã', 'Bandeirantes', 'Jaraguari', 'Juti', 'Selvíria', 'Caracol', 'Vicentina', 'Corguinho',
             'Douradina', 'Paraíso das Águas', 'Alcinópolis', 'Rochedo', 'Rio Negro', 'Jateí', 'Novo Horizonte do Sul',
             'Taquarussu', 'Figueirão']


while count < 79:
    cidades = random.sample(names, 5)
    x = 0
    output_list = []
    while x < 5:
        city = cidades[x]
        url2 = f'http://api.openweathermap.org/data/2.5/weather?q={city}&APPID={API_KEY}'
        response = requests.get(url2).json()
    
        if response.get('cod') != 200:
            with open('cidades_com_erros.txt', 'a') as f:
                f.write('{}, '.format(cidades[x]))   
    
        else:
            with open('cidades_sem_erros.txt', 'a') as f:
                f.write('{}, '.format(cidades[x])) 
        x = x+1
    read_file = open('cidades_com_erros.txt')
    read_file_2 = open('cidades_sem_erros.txt')
    data1 = pd.read_csv('cidades_com_erros.txt', sep=",", header=None)
    data2 = pd.read_csv('cidades_sem_erros.txt', sep=",", header=None)
    data1 = data1.T
    data2 = data2.T
    data1.columns = ['cidades']
    data2.columns = ['cidades']
    count = data1['cidades'].nunique() + data2['cidades'].nunique()

In [ ]:
print(count)

In [ ]:
data1['cidades'].unique()

In [ ]:
data2['cidades'].unique()

In [ ]:
parsed_json = json.load('municipios.json')
cidade = parsed_json[cidades[x]]
lat = cidade['latitude']
lon = cidade['longitude']

In [17]:
municipios = pd.read_csv("municipios_rmc.csv")

In [18]:
municipios.head()

   codigo_ibge           nome  latitude  longitude  capital  codigo_uf
0      5100102       Acorizal -15.19400   -56.3632    False         51
1      5100201       Água Boa -14.05100   -52.1601    False         51
2      5000203     Água Clara -20.44520   -52.8790    False         50
3      5000252    Alcinópolis -18.32550   -53.7042    False         50
4      5100250  Alta Floresta  -9.86674   -56.0867    False         51

In [43]:
cidades = ['Deodápolis']
lat = municipios['latitude'].loc[municipios['nome'].isin(cidades)]
y = lat.values

In [26]:
lon = municipios['longitude'].loc[municipios['nome'].isin(cidades)]
x = lon.values

In [44]:
print(x)

[-54.1682]

In [45]:
print(y)

[-22.2763]

In [65]:
lat = float(y)
lon = float(x)

In [66]:
url3 = f'http://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&lang=pt_br&APPID={API_KEY}'

In [67]:
print(url3)

http://api.openweathermap.org/data/2.5/weather?lat=-22.2763&lon=-54.1682&lang=pt_br&APPID=3bc9b1c2c07e4f4dad648c37e3039f3a

In [68]:
response_2 = requests.get(url3).json()

In [69]:
if response_2.get('cod') == 200:
    print('OK')
else:
    print('Quase lá')

OK